a{
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 0.85rem;
}
p{
  margin: 0 0 5px;
  font-size: 0.85rem;
}
ul{
  list-style-type: none;
  margin-top: 0;
}
li{
  margin-bottom: 10px;
}
span{
  color: rgb(110, 109, 109) ;
}
.App-header {
  background-color: #252c3a;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: rgb(217, 231, 209);
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section { 
  margin-top: 30px;
  display: inline-block;
  width: 900px;
  max-width: 90%;
}
.opening-summary{
  font-size: 1.15rem;
  margin: 0 0 20px 0;
}
img {
  border-radius: 3px;
  box-shadow: 2px 2px 4px gray;
  float: left;
  width: 260px;
  height: 400px;
  margin: 0 20px 0 0;
}
.composers-list{
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 500px;
  max-width: 100%

}
.composers-list li{
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgb(146, 146, 146);
  margin-bottom: 20px;
}
.piece_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0mm;
}
.piece-title{
  font-style: italic;
  font-weight: 500;
}
.piece_header a, .piece_composer{
  margin-left: 20px;
  color: blue;
}

footer {
  height: 10vh;
  background-color: rgb(227, 231, 231);
  display: flex;
  justify-content: space-around;
}

footer div {
  display: inherit;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  width: 900px;
  max-width: 90%;
}

@media (max-width: 660px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  h4{
    margin: 0 0 20px;
  }
  img {
    width: 130px;
    height: 200px; 
  }
}