.App-header {
  background-color: #252c3a;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  letter-spacing: 3px;
  color: rgb(217, 231, 209);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section { 
  margin-top: 30px;
  display: inline-block;
  width: 900px;
  max-width: 90%;
}

.opening-summary{
  font-size: 1.15rem;
  margin: 0 0 20px 0;
}

img {
  border-radius: 3px;
  box-shadow: 2px 2px 4px gray;
  float: left;
  width: 260px;
  height: 400px;
  margin: 0 20px 0 0;
}

.composers-list{
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 500px;
  max-width: 100%
}

ul{
  list-style-type: none;
  margin-top: 0;
}

.composers-list li{
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgb(146, 146, 146);
  margin-bottom: 20px;
}

.piece-info{
  margin: 0 0 5px;
  font-size: 0.85rem;
}

span{
  color: rgb(110, 109, 109) ;
}

.composers-list a, .piece-title, .piece_header a, .piece_composer{
  font-size: 0.85rem;
}

.piece_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0;
}

.piece-title{
  font-style: italic;
  margin: 0 0 5px;
}

.piece_header a, .piece_composer{
  margin-left: 20px;
  color: blue;
  margin: 0 0 5px 20px;
}

footer {
  height: 10vh;
  background-color: rgb(227, 231, 231);
  display: flex;
  justify-content: space-around;
}

footer div {
  display: inherit;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 900px;
  max-width: 90%;
}

@media (max-width: 660px) {
  h4{
    margin: 0 0 20px;
  }
  img {
    width: 130px;
    height: 200px; 
  }
  footer div {
    font-size: 0.65rem;
  }
}